
h1 {
	text-align: center;
	font-style: italic;
	color: black;
	border: thin;
}


* {
	box-sizing: border-box;
}
p {
	float: left;
	margin: 3px;
}
.divin {
	float: right;
	border-bottom: 3px solid black;
	border-left: 3px solid black ;
	margin: 0px 0px 3px 3px;
	width: 30%;
	height: 25px;
	clear: left;
	text-align: center;
	font-size: large;
	font-style:oblique;


}
#m1 {
	background-color: red;
} 
#m2 {
	background-color: #f50088;
}
#m3 {
	background-color: #985672;
}
.mm {
	border:3px solid black;
	height:160px ;
	width: 200px;
	margin-bottom:15px;
	text-align: justify;
	float: left;
	background-color: yellow;
	overflow: hidden;
}
.mindiv {
	margin: 10px;
}

@media (max-width: 767px) {
	.col-sm-12 {
		flex: 0 0 auto;
		width: 100%;
		
	}
	 .mindiv {
	    margin: 30px;
    }
}
@media (max-width: 991px) and (min-width:768px) {
	.col-md-6 {	
		width: 48%;
		margin-right: 1%;
		margin-left: 1%;
		
	}
	.col-md-12 {
		flex: 0 0 auto;
		width: 98%;
		margin-right: 1%;
		margin-left: 1%;
		
	}
}

@media (min-width: 992px) {
	.col-lg-4  {
        flex: 0 0 auto;
        width: 31.2%;
       margin-right: 1%;
		   margin-left: 1%;
    }
   
}
